{{>layout/header}} {{!layout/header.mustache 적용}}

<h1>Detail page</h1>
<table class="table">
    <thead>
    <tr>
        <th scope="col">No.</th>
        <th scope="col">Menu</th>
        <th scope="col">Price</th>
    </tr>
    </thead>
    <tbody>
    {{#board}} {{! 컨트롤러에서 받아온 데이터를 article이란 변수 값으로 받아와 id, title, content값을 출력}}
        <tr>
            <th>{{no}}</th>
            <td>{{menu}}</td>
            <td>{{price}}</td>  {{!중괄호 두 개와 세 개의 차이 : https://taegon.kim/archives/4910 변수 보기}}
        </tr>
    {{/board}}
    </tbody>
</table>

<a class="edit btn btn-primary">Edit</a>
<a class="delete btn btn-danger">Delete</a>
<a href="/board" class="btn btn-warning">List</a>


<script>
    document.querySelector('.delete').addEventListener('click', function() {
    var result = window.confirm('정말 삭제하시겠습니까?');

    if (result) {
        window.location = "/board/{{board.no}}/delete"
        }
        else {
            return;
            }
    });

    document.querySelector('.edit').addEventListener('click', function() {
    var edit = window.confirm('수정페이지로 이동하시겠습니까?');

    if (edit) {
        window.location = "/board/{{board.no}}/edit"
        }
        else {
            return;
            }
    });
</script>


{{>layout/footer}}