<div class="mb-5 container-fluid">
    <hr>
    <p>KyungJoon Kim |
        <a href="https://github.com/team-tokyo-study">GitHub(Group Study)</a> |
        <a href="https://github.com/KyungJoon960">GitHub(Personal Study)</a> |
        <a href="https://qiita.com/KyungJoon960">Qiita</a></p>
</div>