<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form class="container" action="/mypage/create" method="post">
    <div class="mb-3">
        <label class="form-label">Title</label>
        <br>
        <input name="title" type="text" class="form-control"/>
    </div>
    <br>
    <div class="mb-3">
        <label class="form-label">Content</label>
        <br>
        <textarea name="content" class="form-control" rows="5"></textarea>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</body>
</html>